<h2>Celebrity Details</h2>
<h3><span>Name of the Celebrity :</span> {{celebrity.name}}</h3>
<p><span>Occupation :</span> {{celebrity.occupation}}</p>
<p><span>Catchphrase :</span> {{celebrity.catchPhrase}}</p>