<a href='/'>Home</a>
<h2>List of All our Movies</h2>
<ul>
{{#each movies}}
  <li>
    <a href="/movies/{{_id}}">{{title}}</a>
  </li>
{{/each}}
</ul>
<a class="add-new" href='/movies/new'>Create Movie</a>